.example-container {
  text-align: center;
  width: 20%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  min-height: calc(100vh - 51.2px - 64px - 80px);
}

.text-left {
  text-align: left;
}